= render 'parts/carousel'

.pet_cards.mt-3
  .nav.nav-tabs
    - @pets.each_with_index do |pet, i|
      .nav-item.nav-link.pet{'href': '#', class: "pet-#{i}"}
        = pet.name
    = link_to 'Add new animal', new_user_pet_path(:id), class: 'nav-item nav-link'
  .tab-content
    - @pets.each_with_index do |pet, i|
      .col-lg-8.pet-card{ class: "card-#{i}"}
        %h3.pet-name.pt-2= pet.name
        .row
          .col-5.pet_image.pt-2
            = image_tag pet.avatar.url(:medium), class: 'img-fluid'
          .col-7
            = pet.date_of_birth.strftime("Birthday: %b %d %Y")
            %br
            age:
            = calculate_pets_age(pet.date_of_birth)
        .row
          .col-5
            = link_to "Edit #{pet.name}", edit_user_pet_path(current_user, pet.id)
