
.row
  .col-md-2
  .card.mt-5.col-md-8.p-0
    .card-header
      %h3.text-center= @profile.user.username.capitalize
    .card-body.mx-3
      .row
        .col-5
          = display_profile_image(@profile)
        .col-7
          .row
            Email:
            = @profile.user.email
          .row
            About Me:
            = @profile.about
          .row
            City:
            = @profile.city.capitalize
          .row
            Zip Code:
            = @profile.zip_code
          .row
            State:
            = @profile.state.upcase
          .row
            Year of birth:
            = year_of_birth(@profile.age)
          .row.pt-4
            - if current_user == @profile.user
              = link_to 'Edit Profile', edit_user_profile_path(@profile)
              = link_to 'My animals', user_pets_path(:id), class: 'ml-3'
            - else
              = link_to 'profiles', user_profiles_path
